<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-contoller="eventCtrl">
    <span>{{name}}</span>
    <input type="text" ng-model="name">
</div>
<div ng-contoller="brotherlyCtrl">
    {{age}}
    <input type="text" ng-model="age">
</div>
<script src="angular.js"></script>
<script>
    var app = angular.module('appModule', []);
    app.run(['$rootScope', function ($s) {
//        $s.name = 111;
//        $s.$broadcast('name', $s.name);
    }]);
    app.controller('eventCtrl', function ($scope) {
        $scope.name = 5;
    });
    app.controller('brotherlyCtrl', function ($scope) {
        $scope.age = 5;
        $scope.$on('name', function (ev, data) {
            console.log(data);
        })
    });
</script>
</body>
</html>